<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<bean id="cf" class="beans.CarFactory">
<property name="carName" value="beans.Audi"></property>
</bean>
<bean id="c" factory-bean="cf" factory-method="getInstance"></bean>
</beans>